{% extends 'base.html' %}

{% block content %}
 <div class="main_2 clearfix">
<section id="center" class="centre_o bg_back" style="background-image: url({{ url_for('static', filename='imgs/about_us_hero.jpg') }}); background-repeat: no-repeat; background-position: bottom center; background-size: cover;">
 <div class="container-xl">
  <div class="row centre_o1 text-center">
   <div class="col-md-12">
     <h1 class="text-white text-uppercase font_60">About Us</h1>
	 <h6 class="mb-0 text-white fw-bold"><a class="text-white" href="#">HOME</a> <span class="mx-1 text-white-50">|</span> ABOUT US</h6>
   </div>
  </div>
 </div>
</section>
 </div>
 
</div>

<section id="about_pg" class="p_3">
    <div class="container-xl">
	 <div class="row about_pg1">
	   <div class="col-md-8">
	    <div class="about_pg1l">
		  <div class="about_pg1l1 position-relative">
		   <div class="about_pg1l1i">
		    <img src="{{ url_for('static', filename='imgs/about_us.jpg') }}" class="rounded_30" alt="abc" style="width: 660px; height: auto;">
		   </div>
		   <div class="about_pg1l1i1 rounded_30 bg_red p-5 position-absolute w-50">
		    <h2 class="mb-0 text-white">WE ARE BEST FOR TOURS & TRAVEL SINCE 1982 !</h2>
		   </div>
		  </div>
		  <div class="about_pg1l2 mt-4">
		   <h1>HOW WE ARE BEST FOR TRAVEL !</h1>
		   <p>Dictumst voluptas qui placeat omnis repellendus, est assumenda dolores facilisis, nostra, inceptos. Ullam laudantium deserunt duis platea. Fermentum diam, perspiciatis cupidatat justo quam voluptate, feugiat, quaerat. Delectus aute scelerisque blanditiis venenatis aperiam rem. Tempore porttitor orci eligendi velit vel scelerisque minus scelerisque? Dis! Aenean! Deleniti esse aperiam adipiscing, sapiente?</p>
		   <p class="mb-0">Ratione conubia incididunt nullam! Sodales, impedit, molestias consectetuer itaque magni ut neque, lobortis expedita corporis voluptatem natus praesent mollis quidem auctor curae, mattis laboris diamlorem iure nullam esse? Pariatur primis.</p>
		  </div>
		</div>
	   </div>
	   <div class="col-md-4">
	    <div class="about_pg1r">
		  <div class="about_pg1r1 text-center">
		   <span class="bg_red text-white fs-2 rounded-circle d-inline-block"><i class="fa fa-umbrella"></i></span>
		   <h4 class="mt-3">AFFORDABLE TOURS</h4>
		   <p class="mb-0 mt-3">Explore the World Without Breaking the Bank – Affordable Tours for Every Budget!</p>
		  </div>
		  <div class="about_pg1r1 text-center mt-4">
		   <span class="bg_red text-white fs-2 rounded-circle d-inline-block"><i class="fa fa-user"></i></span>
		   <h4 class="mt-3">BEST TOUR GUIDES</h4>
		   <p class="mb-0 mt-3">Iure doloremque saepe? Ultrices mi aliquam dis tempore incididunt sint, cumque dis temp!</p>
		  </div>
		  <div class="about_pg1r1 text-center mt-4">
		   <span class="bg_red text-white fs-2 rounded-circle d-inline-block"><i class="fa fa-headphones"></i></span>
		   <h4 class="mt-3">AFFORDABLE TOURS</h4>
		   <p class="mb-0 mt-3">Iure doloremque saepe? Ultrices mi aliquam dis tempore incididunt sint, cumque dis temp!</p>
		  </div>
		</div>
	   </div>
	 </div>
	</div>
   </section>
   
 <section id="value" class="p_3 bg-light">
 <div class="container-xl">
  <div class="value_1 row">
	 <div class="col-md-4">
	  <div class="value_1l">
	    <div class="grid clearfix">
		  <figure class="effect-jazz mb-0">
			<a href="#"><img src="{{ url_for('static', filename='imgs/11.jpg') }}" class="w-100" alt="img25"></a>
		  </figure>
	  </div>
	  </div>
	 </div>
	 <div class="col-md-8">
	  <div class="value_1r">
	   <h2>Our Core Values</h2>
	   <hr class="line">
	   <div class="value_1ri row mt-4">
	    <div class="col-md-6">
		  <div class="value_1ril">
		   <div class="value_1rili row">
		    <div class="col-md-2 col-2">
			 <div class="value_1rilil text-center">
			  <span class="col_blue fs-4 lh-1"><i class="fa fa-thumbs-o-up"></i></span>
			 </div>
			</div>
			<div class="col-md-10 col-10">
			 <div class="value_1rilir">
			  <h5>Positive & Optimistic</h5>
			  <p class="mt-3 mb-0">How all this mistaken idea denouncing seds pleasurepraising pain was born and will give you a complete account of the system.</p>
			 </div>
			</div>
		   </div>
		  </div>
		</div>
		<div class="col-md-6">
		  <div class="value_1ril">
		   <div class="value_1rili row">
		    <div class="col-md-2 col-2">
			 <div class="value_1rilil text-center">
			  <span class="col_blue fs-4 lh-1"><i class="fa fa-star"></i></span>
			 </div>
			</div>
			<div class="col-md-10 col-10">
			 <div class="value_1rilir">
			  <h5>Wow Customer Service</h5>
			  <p class="mt-3 mb-0">Some great pleasure take trivial example, whichof ever undertakes laborious physical except to obtain some advantage.</p>
			 </div>
			</div>
		   </div>
		  </div>
		</div>
	   </div>
	   <div class="value_1ri row mt-4">
	    <div class="col-md-6">
		  <div class="value_1ril">
		   <div class="value_1rili row">
		    <div class="col-md-2 col-2">
			 <div class="value_1rilil text-center">
			  <span class="col_blue fs-4 lh-1"><i class="fa fa-heart"></i></span>
			 </div>
			</div>
			<div class="col-md-10 col-10">
			 <div class="value_1rilir">
			  <h5>Love Customer</h5>
			  <p class="mt-3 mb-0">The master-builder of human happiness no one rejects, dislikes,avoids pleasure itself, because it is pleasure extremely.</p>
			 </div>
			</div>
		   </div>
		  </div>
		</div>
		<div class="col-md-6">
		  <div class="value_1ril">
		   <div class="value_1rili row">
		    <div class="col-md-2 col-2">
			 <div class="value_1rilil text-center">
			  <span class="col_blue fs-4 lh-1"><i class="fa fa-sliders"></i></span>
			 </div>
			</div>
			<div class="col-md-10 col-10">
			 <div class="value_1rilir">
			  <h5>Have Integrity</h5>
			  <p class="mt-3 mb-0">Chooses to enjoy a pleasure that annoying consequences,  avoids a pain that no resultant pleasure works.</p>
			 </div>
			</div>
		   </div>
		  </div>
		</div>
	   </div>
	  </div>
	 </div>
   </div>
   <div class="row academy_2 mt-4">
   <div class="col-md-4">
    <div class="academy_2i bg-white p-4">
	 <h5><a href="#"><i class="fa fa-graduation-cap fs-3 align-middle col_blue me-1"></i> Lorem Porta</a></h5>
	 <p class="mt-3">Lorem ipsum dolor sit amet consectetur ad piscing elit ut elit tellus luctus nec dolor sit amet consec teturul</p>
	 <h6 class="mb-0"><a href="#">Lorem Porta <i class="fa fa-long-arrow-right ms-1 align-middle"></i></a></h6>
	</div>
   </div>
   <div class="col-md-4">
    <div class="academy_2i bg-white p-4">
	 <h5><a href="#"><i class="fa fa-trophy fs-3 align-middle col_blue me-1"></i> Ipsum Semper</a></h5>
	 <p class="mt-3">Lorem ipsum dolor sit amet consectetur ad piscing elit ut elit tellus luctus nec dolor sit amet consec teturul</p>
	 <h6 class="mb-0"><a href="#">Ipsum Semper <i class="fa fa-long-arrow-right ms-1 align-middle"></i></a></h6>
	</div>
   </div>
   <div class="col-md-4">
    <div class="academy_2i bg-white p-4">
	 <h5><a href="#"><i class="fa fa-edit fs-3 align-middle col_blue me-1"></i> Dolor Travels</a></h5>
	 <p class="mt-3">Lorem ipsum dolor sit amet consectetur ad piscing elit ut elit tellus luctus nec dolor sit amet consec teturul</p>
	 <h6 class="mb-0"><a href="#">Dolor Travels <i class="fa fa-long-arrow-right ms-1 align-middle"></i></a></h6>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="spec">
<div class="spec_m bg_back pt-5 pb-5">
<div class="container-xl">
  <div class="row spec_1 text-center">
   <div class="col-md-12">
    <span class="d-inline-block col_blue lh-1"><i class="fa fa-play-circle"></i></span>
	<h1 class="mt-3 text-white">ARE YOU READY TO TRAVEL? <br> REMEMBER US !!</h1>
	<p class="text-white">Fusce hic augue velit wisi quibusdam pariatur, iusto primis, nec nemo, rutrum. Vestibulum <br> cumque laudantium. Sit ornare mollitia tenetur, aptent.</p>
	<ul class="mb-0 mt-4">
		  <li class="d-inline-block"><a class="button text-uppercase" href="#">VIEW PACKAGES </a></li>
		   <li class="d-inline-block ms-2"><a class="button_1  text-uppercase" href="#">LEARN MORE </a></li>
		</ul>
   </div>
  </div>
</div>
</div>
</section>

<section id="testim" class="p_3 bg-light carousel_p">
    <div class="container-xl">
	 <div class="row popular_1 text-center mb-4">
	    <div class="col-md-12">
		 <h6 class="col_blue">CLIENT'S REVIEWS</h6>
		 <h1>TRAVELLER'S TESTIMONIAL</h1>
		 <p class="mb-0">Fusce hic augue velit wisi quibusdam pariatur, iusto primis, nec nemo, rutrum. Vestibulum  <br> cumque laudantium. Sit ornare mollitia tenetur, aptent.</p>
		</div>
	 </div>
	 <div class="testim_1 row">
	  <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item">
       <div class="testim_1i row">
	    <div class="col-md-4">
		 <div class="testim_1i1 bg-white p-4 clearfix">
		 <span class="col_blue font_14">
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star-o"></i>
		 </span>
		 <div class="testim_1i1i clearfix mt-3">
		   <span><img src="{{ url_for('static', filename='imgs/18.jpg') }}" alt="abc" class="rounded-circle me-3 float-start"></span>
		   <h6 class="mb-0 fw-bold text-uppercase lh-base"> Eget Nulla <br> <span class="col_blue font_14 text-uppercase fw-normal">Travellers</span></h6>
		   </div>
		   <p class="mb-0 mt-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
		 </div>  
		</div>
		<div class="col-md-4">
		 <div class="testim_1i1 bg-white p-4 clearfix">
		 <span class="col_blue font_14">
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star-half-o"></i>
		 </span>
		 <div class="testim_1i1i clearfix mt-3">
		   <span><img src="{{ url_for('static', filename='imgs/19.jpg') }}" alt="abc" class="rounded-circle me-3 float-start"></span>
		   <h6 class="mb-0 fw-bold text-uppercase lh-base"> Lorem Porta <br> <span class="col_blue font_14 text-uppercase fw-normal">Travellers</span></h6>
		   </div>
		   <p class="mb-0 mt-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
		 </div>  
		</div>
		<div class="col-md-4">
		 <div class="testim_1i1 bg-white p-4 clearfix">
		 <span class="col_blue font_14">
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		 </span>
		 <div class="testim_1i1i clearfix mt-3">
		   <span><img src="{{ url_for('static', filename='imgs/20.jpg') }}" alt="abc" class="rounded-circle me-3 float-start"></span>
		   <h6 class="mb-0 fw-bold text-uppercase lh-base"> Dolor Amet <br> <span class="col_blue font_14 text-uppercase fw-normal">Travellers</span></h6>
		   </div>
		   <p class="mb-0 mt-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
		 </div>  
		</div>
	   </div>
    </div>
    <div class="carousel-item active">
        <div class="testim_1i row">
	    <div class="col-md-4">
		 <div class="testim_1i1 bg-white p-4 clearfix">
		 <span class="col_blue font_14">
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star-o"></i>
		 </span>
		 <div class="testim_1i1i clearfix mt-3">
		   <span><img src="{{ url_for('static', filename='imgs/18.jpg') }}" alt="abc" class="rounded-circle me-3 float-start"></span>
		   <h6 class="mb-0 fw-bold text-uppercase lh-base"> Eget Nulla <br> <span class="col_blue font_14 text-uppercase fw-normal">Travellers</span></h6>
		   </div>
		   <p class="mb-0 mt-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
		 </div>  
		</div>
		<div class="col-md-4">
		 <div class="testim_1i1 bg-white p-4 clearfix">
		 <span class="col_blue font_14">
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star-half-o"></i>
		 </span>
		 <div class="testim_1i1i clearfix mt-3">
		   <span><img src="{{ url_for('static', filename='imgs/19.jpg') }}" alt="abc" class="rounded-circle me-3 float-start"></span>
		   <h6 class="mb-0 fw-bold text-uppercase lh-base"> Lorem Porta <br> <span class="col_blue font_14 text-uppercase fw-normal">Travellers</span></h6>
		   </div>
		   <p class="mb-0 mt-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
		 </div>  
		</div>
		<div class="col-md-4">
		 <div class="testim_1i1 bg-white p-4 clearfix">
		 <span class="col_blue font_14">
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		  <i class="fa fa-star"></i>
		 </span>
		 <div class="testim_1i1i clearfix mt-3">
		   <span><img src="{{ url_for('static', filename='imgs/20.jpg') }}" alt="abc" class="rounded-circle me-3 float-start"></span>
		   <h6 class="mb-0 fw-bold text-uppercase lh-base"> Dolor Amet <br> <span class="col_blue font_14 text-uppercase fw-normal">Travellers</span></h6>
		   </div>
		   <p class="mb-0 mt-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
		 </div>  
		</div>
	   </div>
    </div>
  </div>
</div>
	</div>
	</div>
   </section>
{% endblock %}