{% extends 'base.html' %}

{% block content %}
 <div class="main_2 clearfix">
<section id="center" class="centre_o bg_back" style="background-image: url({{ url_for('static', filename='imgs/destinations_hero.jpg') }}); background-repeat: no-repeat; background-position: center center; background-size: cover;">
 <div class="container-xl">
  <div class="row centre_o1 text-center">
   <div class="col-md-12">
     <h1 class="text-white text-uppercase font_60">DESTINATION</h1>
	 <h6 class="mb-0 text-white fw-bold"><a class="text-white" href="#">HOME</a> <span class="mx-1 text-white-50">|</span> DESTINATION</h6>
   </div>
  </div>
 </div>
</section>
 </div>
 
</div>

<section id="popular" class="p_3">
    <div class="container-xl">
	 <div class="row popular_2  mb-4">
	    <div class="col-md-4">
		 <div class="popular_2m position-relative">
		  <div class="popular_2m1">
		   <img src="{{ url_for('static', filename='imgs/destinations_italy.jpg') }}" class="w-100 rounded_10" alt="abc">
		  </div>
		  <div class="popular_2m2 rounded_10 bg-white p-4 position-absolute">
		   <h6 class="col_blue font_14">ITALY</h6>
		   <h4 class="text-uppercase"><a href="#">Discover the Beauty of Italy</a></h4>
		   <p class="mb-0">Italy, a country rich in history, culture, and breathtaking landscapes, awaits your exploration.</p>
		  </div>
		  <div class="popular_2m3 top-0 position-absolute w-100 text-end">
		   <span class="bg_red rounded_30 d-inline-block text-white p-1 px-2 font_14">
		    <i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
		   </span>
		  </div>
		 </div>
		</div>
		<div class="col-md-4">
		 <div class="popular_2m position-relative">
		  <div class="popular_2m1">
		   <img src="{{ url_for('static', filename='imgs/destinations_dubai.jpg') }}" class="w-100 rounded_10" alt="abc">
		  </div>
		  <div class="popular_2m2 rounded_10 bg-white p-4 position-absolute">
		   <h6 class="col_blue font_14">DUBAI</h6>
		   <h4 class="text-uppercase"><a href="#">Discover the Vibrance of Dubai</a></h4>
		   <p class="mb-0">Dubai, a city of modern wonders and timeless charm, offers a unique blend of tradition and innovation.</p>
		  </div>
		  <div class="popular_2m3 top-0 position-absolute w-100 text-end">
		   <span class="bg_red rounded_30 d-inline-block text-white p-1 px-2 font_14">
		    <i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
		   </span>
		  </div>
		 </div>
		</div>
		<div class="col-md-4">
		 <div class="popular_2m position-relative">
		  <div class="popular_2m1">
		   <img src="{{ url_for('static', filename='imgs/destinations_japan.jpg') }}" class="w-100 rounded_10" alt="abc">
		  </div>
		  <div class="popular_2m2 rounded_10 bg-white p-4 position-absolute">
		   <h6 class="col_blue font_14">JAPAN</h6>
		   <h4 class="text-uppercase"><a href="#">Explore the Majesty of Japan</a></h4>
		   <p class="mb-0">Japan, a land where ancient traditions meet cutting-edge technology, is a fascinating destination for any traveler.</p>
		  </div>
		  <div class="popular_2m3 top-0 position-absolute w-100 text-end">
		   <span class="bg_red rounded_30 d-inline-block text-white p-1 px-2 font_14">
		    <i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
		   </span>
		  </div>
		 </div>
		</div>
	 </div>
	 <div class="row spec_o_1 bg-white shadow_box rounded_30 p-5 px-3 mx-0 mt-4">
   <div class="col-md-3 col-sm-6">
    <div class="spec_o_1i">
	 <h1>55K+</h1>
	 <h6 class="mb-0 col_blue">SATISFIED CUSTOMER</h6>
	</div>
   </div>
   <div class="col-md-3 col-sm-6">
    <div class="spec_o_1i">
	 <h1>22+</h1>
	 <h6 class="mb-0 col_blue">ACTIVE MEMBERS</h6>
	</div>
   </div>
   <div class="col-md-3 col-sm-6">
    <div class="spec_o_1i">
	 <h1>125+</h1>
	 <h6 class="mb-0 col_blue">TOUR DESTINATION</h6>
	</div>
   </div>
   <div class="col-md-3 col-sm-6">
    <div class="spec_o_1i border-0">
	 <h1>39+</h1>
	 <h6 class="mb-0 col_blue">TRAVEL GUIDES</h6>
	</div>
   </div>
  </div>
	</div>
   </section>
   
 <section id="sub" class="pt-5 pb-5 bg_red">
    <div class="container-xl">
	 <div class="row sub_1">
	    <div class="col-md-9">
		  <div class="sub_1l">
		     <h6 class="text-white">CALL TO ACTION</h6>
		 <h1 class="text-white">READY FOR UNFORGATABLE <br> TRAVEL REMEMBER US!</h1>
		 <p class="mb-0 text-white">Fusce hic augue velit wisi quibusdam pariatur, iusto primis, nec nemo, rutrum. Vestibulum  <br> cumque laudantium. Sit ornare mollitia tenetur, aptent.</p>
		  </div>
		</div>
		<div class="col-md-3">
		  <div class="sub_1r text-end mt-5">
		    <h6 class="mb-0"><a class="button_1" href="#">CONTACT US !</a></h6>
		  </div>
		</div>
	 </div>
	 
	</div>
   </section>
{% endblock %}