{% extends 'base.html' %}

{% block content %}
<div class="main_2 clearfix">
<section id="center" class="centre_o bg_back" style="background-image: url({{ url_for('static', filename='imgs/packages_hero.jpg') }}); background-repeat: no-repeat; background-position: bottom center; background-size: cover;">
  <div class="container-xl">
   <div class="row centre_o1 text-center">
    <div class="col-md-12">
      <h1 class="text-white text-uppercase font_60">TOUR PACKAGES</h1>
      <h6 class="mb-0 text-white fw-bold"><a class="text-white" href="#">HOME</a> <span class="mx-1 text-white-50">|</span> TOUR PACKAGES</h6>
    </div>
   </div>
  </div>
 </section>
  </div>
  
 </div>
 
 <section id="pack" class="p_3 bg-light">
     <div class="container-xl">
      <div class="row pack_1 bg-white border_radius_left mb-5">
         <div class="col-md-4 p-0">
          <div class="pack_1l">
            <img src="{{ url_for('static', filename='imgs/beach_package.jpg') }}" class="w-100" alt="abc" style="width: 380px; height: auto;">
          </div>
         </div>
         <div class="col-md-5 p-0">
          <div class="pack_1m">
           <h4><a href="#">EXPERIENCE THE GREAT <br> HOLIDAY ON BEACH</a></h4>
           <p class="mt-3">Laoreet, voluptatum nihil dolor esse quaerat mattis explicabo maiores, est aliquet porttitor! Eaque, cras, aspernatur.</p>
           <h6 class="mb-0 bg-light d-inline-block p-2 px-4 rounded_30 font_14"> <i class="fa fa-clock-o col_blue me-1"></i> 7D/6N <span class="mx-2 text-muted">|</span>  <i class="fa fa-clock-o col_blue me-1"></i> Pax: 12 <span class="mx-2 text-muted">|</span>  <i class="fa fa-map-marker col_blue me-1"></i> London</h6>
          </div>
         </div>
         <div class="col-md-3 p-0 bg_red border_radius_right">
          <div class="pack_1r text-center">
           <h6 class="text-white font_14">(22 reviews)
            <span>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star-o"></i>
            </span>
           </h6>
           <h1 class="text-white mt-3 mb-1">$710</h1>
           <h6 class="font_12 text-white">/ per person</h6>
           <h6 class="mb-0 mt-4"><a class="button_1" href="#">BOOK NOW</a></h6>
          </div>
         </div>
      </div>
      <div class="row pack_1 bg-white border_radius_left mb-5">
         <div class="col-md-4 p-0">
          <div class="pack_1l">
            <img src="{{ url_for('static', filename='imgs/8.jpg') }}" class="w-100" alt="abc">
          </div>
         </div>
         <div class="col-md-5 p-0">
          <div class="pack_1m">
           <h4><a href="#">SUMMER HOLIDAY TO THE <br> OXOLOTAN RIVER</a></h4>
           <p class="mt-3">Laoreet, voluptatum nihil dolor esse quaerat mattis explicabo maiores, est aliquet porttitor! Eaque, cras, aspernatur.</p>
           <h6 class="mb-0 bg-light d-inline-block p-2 px-4 rounded_30 font_14"> <i class="fa fa-clock-o col_blue me-1"></i> 7D/6N <span class="mx-2 text-muted">|</span>  <i class="fa fa-clock-o col_blue me-1"></i> Pax: 12 <span class="mx-2 text-muted">|</span>  <i class="fa fa-map-marker col_blue me-1"></i> London</h6>
          </div>
         </div>
         <div class="col-md-3 p-0 bg_red border_radius_right">
          <div class="pack_1r text-center">
           <h6 class="text-white font_14">(22 reviews)
            <span>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star-o"></i>
            </span>
           </h6>
           <h1 class="text-white mt-3 mb-1">$710</h1>
           <h6 class="font_12 text-white">/ per person</h6>
           <h6 class="mb-0 mt-4"><a class="button_1" href="#">BOOK NOW</a></h6>
          </div>
         </div>
      </div>
      <div class="row pack_1 bg-white border_radius_left mb-5">
         <div class="col-md-4 p-0">
          <div class="pack_1l">
            <img src="{{ url_for('static', filename='imgs/9.jpg') }}" class="w-100" alt="abc">
          </div>
         </div>
         <div class="col-md-5 p-0">
          <div class="pack_1m">
           <h4><a href="#">SANTORINI ISLAND'S WEEKEND <br> VACATION</a></h4>
           <p class="mt-3">Laoreet, voluptatum nihil dolor esse quaerat mattis explicabo maiores, est aliquet porttitor! Eaque, cras, aspernatur.</p>
           <h6 class="mb-0 bg-light d-inline-block p-2 px-4 rounded_30 font_14"> <i class="fa fa-clock-o col_blue me-1"></i> 7D/6N <span class="mx-2 text-muted">|</span>  <i class="fa fa-clock-o col_blue me-1"></i> Pax: 12 <span class="mx-2 text-muted">|</span>  <i class="fa fa-map-marker col_blue me-1"></i> London</h6>
          </div>
         </div>
         <div class="col-md-3 p-0 bg_red border_radius_right">
          <div class="pack_1r text-center">
           <h6 class="text-white font_14">(22 reviews)
            <span>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star-o"></i>
            </span>
           </h6>
           <h1 class="text-white mt-3 mb-1">$710</h1>
           <h6 class="font_12 text-white">/ per person</h6>
           <h6 class="mb-0 mt-4"><a class="button_1" href="#">BOOK NOW</a></h6>
          </div>
         </div>
      </div>
      <div class="row pack_1 bg-white border_radius_left mb-5">
         <div class="col-md-4 p-0">
          <div class="pack_1l">
            <img src="{{ url_for('static', filename='imgs/8.jpg') }}" class="w-100" alt="abc">
          </div>
         </div>
         <div class="col-md-5 p-0">
          <div class="pack_1m">
           <h4><a href="#">SUMMER HOLIDAY TO THE <br> OXOLOTAN RIVER</a></h4>
           <p class="mt-3">Laoreet, voluptatum nihil dolor esse quaerat mattis explicabo maiores, est aliquet porttitor! Eaque, cras, aspernatur.</p>
           <h6 class="mb-0 bg-light d-inline-block p-2 px-4 rounded_30 font_14"> <i class="fa fa-clock-o col_blue me-1"></i> 7D/6N <span class="mx-2 text-muted">|</span>  <i class="fa fa-clock-o col_blue me-1"></i> Pax: 12 <span class="mx-2 text-muted">|</span>  <i class="fa fa-map-marker col_blue me-1"></i> London</h6>
          </div>
         </div>
         <div class="col-md-3 p-0 bg_red border_radius_right">
          <div class="pack_1r text-center">
           <h6 class="text-white font_14">(22 reviews)
            <span>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star-o"></i>
            </span>
           </h6>
           <h1 class="text-white mt-3 mb-1">$710</h1>
           <h6 class="font_12 text-white">/ per person</h6>
           <h6 class="mb-0 mt-4"><a class="button_1" href="#">BOOK NOW</a></h6>
          </div>
         </div>
      </div>
      <div class="row pack_1 bg-white border_radius_left mb-5">
         <div class="col-md-4 p-0">
          <div class="pack_1l">
            <img src="{{ url_for('static', filename='imgs/9.jpg') }}" class="w-100" alt="abc">
          </div>
         </div>
         <div class="col-md-5 p-0">
          <div class="pack_1m">
           <h4><a href="#">SANTORINI ISLAND'S WEEKEND <br> VACATION</a></h4>
           <p class="mt-3">Laoreet, voluptatum nihil dolor esse quaerat mattis explicabo maiores, est aliquet porttitor! Eaque, cras, aspernatur.</p>
           <h6 class="mb-0 bg-light d-inline-block p-2 px-4 rounded_30 font_14"> <i class="fa fa-clock-o col_blue me-1"></i> 7D/6N <span class="mx-2 text-muted">|</span>  <i class="fa fa-clock-o col_blue me-1"></i> Pax: 12 <span class="mx-2 text-muted">|</span>  <i class="fa fa-map-marker col_blue me-1"></i> London</h6>
          </div>
         </div>
         <div class="col-md-3 p-0 bg_red border_radius_right">
          <div class="pack_1r text-center">
           <h6 class="text-white font_14">(22 reviews)
            <span>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star-o"></i>
            </span>
           </h6>
           <h1 class="text-white mt-3 mb-1">$710</h1>
           <h6 class="font_12 text-white">/ per person</h6>
           <h6 class="mb-0 mt-4"><a class="button_1" href="#">BOOK NOW</a></h6>
          </div>
         </div>
      </div>
     </div>
    </section>
    
  <section id="spec_n">
 <div class="spec_nm bg_back">
 <div class="container-xl">
   <div class="row spec_1 text-center">
    <div class="col-md-12">
     <h6 class="text-white">DISCOUNT OFFER</h6>
     <h1 class="mt-3 text-white">GET SPECIAL DISCOUNT <br> ON SIGN UP !</h1>
     <p class="text-white mt-3">Fusce hic augue velit wisi quibusdam pariatur, iusto primis, nec nemo, rutrum. Vestibulum <br> cumque laudantium. Sit ornare mollitia tenetur, aptent.</p>
     <h6 class="mb-0 mt-4"><a class="button" href="#">SIGN UP NOW</a></h6>
    </div>
   </div>
 </div>
 </div>
 </section>
{% endblock %}